<div class="screen">
  <div id="messageBox" class="container">
    <ul class="" id="messagesList">
      <li *ngFor="let message of messages" [style.color]="message.color"><b>{{ message.username }}:</b> {{ message.msgTxt }}</li>
    </ul>
  </div>

  <div id="msgSendForm" class="container">
    <form (submit)="onSend()" #userDetails="ngForm">
      <input name="msgInput" type="text" id="messageInput" [(ngModel)]="msgObj.msgTxt"/>
      <button id="sendBtn" type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>
</div>
